
@font-face {
    font-family: 'Aldo-SemiBold';
    src: url('Aldo-SemiBold/Aldo-SemiBold.eot');
    src: url('Aldo-SemiBold/Aldo-SemiBold.eot') format('embedded-opentype'),
         url('Aldo-SemiBold/Aldo-SemiBold.woff2') format('woff2'),
         url('Aldo-SemiBold/Aldo-SemiBold.woff') format('woff'),
         url('Aldo-SemiBold/Aldo-SemiBold.ttf') format('truetype'),
         url('Aldo-SemiBold/Aldo-SemiBold.svg#LatoRegular') format('svg');
    font-weight: normal;
}
