.block-850{
	max-width: 850px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.block-1285{
	max-width: 1285px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.dfp-one-img-plate-bx{
	margin-bottom: 90px;
	padding-top: 60px;
}
.dfp-one-img-plate-bx img{
	width: 100%;
}
.innerpage-con-wrap{
	position: relative;
}
.innerpage-lft-img{
	position: absolute;
	left: 0;
	top: 22%;
}

.default-page-con {
	padding-bottom: 100px;
	padding-top: 90px;
}

.fl-dft-overflow-controller {
	overflow: hidden;
}
.default-page-con h1,
.dfp-promo-module-title,
.default-page-con h2,
.default-page-con h3,
.default-page-con h4,
.default-page-con h5{
	margin-bottom: 30px;
	line-height: 1.1;
}


.dfp-text-module{
	
}
.default-page-con ul,
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	padding-left: 38px;
}
.default-page-con ul li,
ul li {
	padding: 5px 0 15px 22px;
	position: relative;
	line-height: 22px;
}

.default-page-con ul li::before,
ul li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 8px;
	height: 8px;
	background: #00A04D;
	border-radius: 100%;
	margin-top: 12px;
}
ul li.refGridItem:before{
	display: none;
}
.default-page-con ol, ol {
	padding: 0 0 0 0;
	list-style: none;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
	padding-left: 38px;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.default-page-con ol li ,ol li {
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
	padding: 5px 0 15px 22px;
	line-height: 24px;
	position: relative;
}
.default-page-con ol li::before,
ol li::before {
	content: counter(my-awesome-counter) ".";
	color: #00A04D;
	font-weight: 700;
	text-align: center;
	line-height: 16px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 9px;
}
.default-page-con p {
    margin-bottom: 25px;
}


/*
Gallery design
*/

.gallery-wrap{
	padding-top: 50px;
	padding-bottom: 65px;
}
.gallery {
	margin-left: -12px;
	margin-right: -12px;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0 12px;
	margin-bottom: 24px;
}

.has-inline-bg .gallery-icon-img{
	height: 492px;
	display: block;
}

.has-inline-bg .gallery-item img{
	display: none;
}
.gallery-item img {
	width: 100%;
}
.top-gallery-module .gallery-item img{
	border-radius: 0;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}


.gallery-icon-img{
	height: 492px;
	display: none;
}

.glry-col-3 .gallery-icon-img{
	height: 285px;
}

.glry-col-2 .gallery-icon-img{
	height: 263px;
}


hr{
	margin-top: 0;
	padding-top: 65px;
	margin-bottom:90px;
	border-top: none;
	border-bottom: 1px solid #E9E9E9;
}


.fl-dft-lftimg-rgtdes {
	margin: 0 0;
	padding-bottom: 45px;
	padding-top: 10px;
	display: flex;
	align-items: center;
}
.fl-dft-lftimg-rgtdes-lft{
	height: 492px;
}
.fl-dft-lftimg-rgtdes-lft div{
	height: 100%;
	width: 100%;
}

.fl-dft-lftimg-rgtdes-lft-img-scale{
	position: relative;
	overflow: hidden;
}
.fl-dft-lftimg-rgtdes-lft-img-inr{
	width: 100%;
	height: 100%;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-lftimg-rgtdes-rgt {
	width: 50%;
	position: relative;
}
.fl-dft-lftimg-rgtdes-rgt {
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 0;
}
.fl-dft-lftimg-rgtdes-rgt p:last-child{
	margin-bottom: 0;
}


.fl-dft-lftimg-rgtdes-lft img,
.fl-dft-testi-controller img{
	display: none;
}



/*-- left des right img customize---*/
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes{
	padding-top: 10px;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-lft{
	float: right;
	order: 2;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
	float: left;
	padding-left: 0;
	padding-right: 15px;
}



/*table*/

.dfp-tbl-wrap{
	padding-top: 50px;
	padding-bottom: 70px;
}

.dfp-tbl-wrap h4{
	margin-bottom: 15px;
}

.table-dsc{
	padding: 0;
	background-color: transparent;
	border-top: none;
	border-top: 1px solid #edeef0;
}

.table-dsc {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.table-dsc table{
	max-width: 850px;
	width: 100%;
}
.table-dsc::-webkit-scrollbar {
  height: 6px;
}
.table-dsc::-webkit-scrollbar-thumb {
  background: #EBEEEE;
  border-radius: 4px;
}


.table-dsc table tbody tr td:first-child,
.table-dsc table tbody tr td:last-child{
	color: #565B5E;
}

.table-dsc table{
	width: 100%;
	padding: 20px;
	border: none;
}

.table-dsc table tbody{

}

.table-dsc table tr th:last-child span{
	border-right: none;
}

.table-dsc table tbody tr:first-child td span{
	display: block;
}
.table-dsc table tbody tr:first-child td:last-child span{
	border-right: none;
}
.table-dsc table tbody tr td:first-child span{
	font-weight: 700;
	border-bottom: none;
}
.table-dsc table thead tr th:first-child,
.table-dsc table tbody tr td:first-child{
	padding-left: 15px;
	padding-right: 15px;
	width: 100px;
	text-align: left;
}

.table-dsc table tr th {
	border: none;
	color: #565B5E;
	font-weight: 700;
	padding: 15px 0 15px;
	font-size: 14px;
	line-height: 18px;
}
.table-dsc table tr th span{
	display: block;
}
.table-dsc table thead th span{
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: #565B5E;
}
.table-dsc table thead tr th,
.table-dsc table tbody tr td{
	padding-left: 15px;
	padding-right: 15px;
}


.table-dsc table thead tr th:first-child,
.table-dsc table thead tr td:first-child{
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 700;
}


.table-dsc table tbody{
	border-top: 0;
	margin: 0 3px;
}
.table-dsc table tbody tr td span{
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 14px;
}
.table-dsc table span{
	display: block;
}
.table-dsc table tbody tr td{
	border-top: 1px solid #edeef0;
}
.table-dsc table tbody tr:last-child span{
	border-bottom: none;
}

.table-dsc table tbody tr{
	border-left: 0;
	border-right: 0;
}



/*extra*/

.dfp-full-img-module{
	padding-top: 60px;
	padding-bottom: 90px;
}



#news-details .dfp-social-media-module-inr{
	display: flex;
	align-items: center;
}
#news-details .dfp-social-media-module-inr .dfp-social-media{
	margin-left: auto;
	
}
#news-details .dfp-social-media-module-inr .dfp-social-media ul{
	padding-left: 0;
	padding-bottom: 0;
	margin-left: -15px;
	margin-right: -15px;
}
#news-details .dfp-social-media-module-inr .dfp-social-media ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 0;
	padding-top: 0;
}
#news-details .dfp-social-media-module-inr .dfp-social-media ul li a,
#news-details .dfp-social-media-module-inr .dfp-social-media ul li a i{
	display: inline-block;
	vertical-align: baseline;
}
#news-details .dfp-social-media-module-inr .dfp-social-media-title strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 13px;
	text-transform: uppercase;
	color: #141414;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

#news-details.default-page-con {
    padding-bottom: 40px;
    padding-top: 45px;
}
#news-details .dfp-one-img-plate-bx{
	padding-top: 40px;
}

#news-details .btm-social-media .dfp-social-media-module-inr{
	padding-top: 35px;
	border-top: 1px solid #E9E9E9;
}
#news-details .dfp-social-media-module.btm-social-media{
	padding-top: 35px;
}

#news-details .dfp-social-media-module-inr .dfp-social-media ul li a:hover svg{
	fill: #2DAB52;
}


.sdw-related-product-sec{
	background: #F9F9F9;
	padding-top: 95px;
	padding-bottom: 100px;
}

.sdw-related-pro-grds{
	margin-left: -12px;
	margin-right: -12px;
}
.sdw-related-pro-grd-item{
	float: left;
	width: 50%;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 25px;
}
.sdw-related-pro-grd-item:nth-child(2){
	margin-top: 120px;
}


.dfp-grd-module-inr{
	margin-left: -12px;
	margin-right: -12px;
	padding-bottom: 75px;
	padding-top: 65px;
}
.dfp-grd-item{
	float: left;
	width: 33.3333%;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 25px;
}


.dfp-title-des-module-inr{
	padding-top: 90px;
	border-top: 1px solid #E9E9E9;
}
.dfp-title-des-module .title-desc-module.fl-h2{
	color: inherit;
}

.dfp-pro-slider-module{
	overflow: hidden;
	padding-bottom: 100px;
}

.sdw-related-product-sec .sec-entry-hdr-title.fl-h2{
	color: #141414;
	margin-bottom: 30px;
}

.dfp-grd-module .slsn-bsns-item{
	background: #141414;
}









/*responsive*/

@media(max-width: 1699px){
	.default-page-con {
	    padding-top: 80px;
	}
	.dfp-one-img-plate-bx {
	    margin-bottom: 80px;
	    padding-top: 50px;
	}
	hr{
		margin-bottom: 80px;
	}
	.gallery-wrap {
	    padding-bottom: 55px;
	}
	.dfp-full-img-module {
	    padding-bottom: 80px;
	}
	.dfp-grd-module-inr{
		padding-top: 57px;
		padding-bottom: 60px;
	}
	.dfp-title-des-module-inr {
	    padding-top: 80px;
	}
	.dfp-pro-slider-module {
	    padding-bottom: 90px;
	}
	.innerpage-lft-img img{
		max-width: 200px;
		width: 100%;
	}
	.innerpage-lft-img {
	    top: 19%;
	}
	.sdw-related-pro-grd-item:nth-child(2) {
	    margin-top: 100px;
	}


}


@media(max-width: 1399px){
	.default-page-con {
	    padding-top: 70px;
	}
	.dfp-one-img-plate-bx {
	    margin-bottom: 70px;
	    padding-top: 40px;
	}
	hr{
		padding-top: 50px;
		margin-bottom: 70px;
	}
	.gallery-wrap {
		padding-top: 40px;
	    padding-bottom: 45px;
	}
	.dfp-full-img-module {
	    padding-bottom: 70px;
	}
	.dfp-grd-module-inr{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.dfp-title-des-module-inr {
	    padding-top: 70px;
	}
	.dfp-pro-slider-module {
	    padding-bottom: 80px;
	}
	.innerpage-lft-img img{
		max-width: 150px;
		width: 100%;
	}
	.sdw-related-pro-grd-item:nth-child(2) {
	    margin-top: 80px;
	}
	


}


@media(max-width: 1199px){
	.dfp-one-img-plate-bx {
	    margin-bottom: 60px;
	    padding-top: 30px;
	}
	.default-page-con {
	    padding-bottom: 80px;
	    padding-top: 60px;
	}
	hr {
	    padding-top: 40px;
	    margin-bottom: 60px;
	}
	.has-inline-bg .gallery-icon-img {
	    height: 400px;
	}
	.dfp-full-img-module {
	    padding-top: 50px;
	    padding-bottom: 60px;
	}
	
	.dfp-grd-module-inr{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.dfp-pro-slider-module {
	    padding-bottom: 70px;
	}
	.innerpage-lft-img img{
		max-width: 100px;
		width: 100%;
	}
	.innerpage-lft-img {
	    top: 18%;
	}
	.sdw-related-pro-grd-item:nth-child(2) {
	    margin-top: 60px;
	}
	
	

}


@media(max-width: 991px){
	.dfp-promo-module-title{
		margin-bottom: 34px;
	}
	.dfp-one-img-plate-bx {
	    margin-bottom: 50px;
	    padding-top: 20px;
	}
	.default-page-con{
		padding-bottom: 60px;
	    padding-top: 45px;
	}
	.gallery-icon-img {
	    height: 350px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 240px;
	}
	.gallery-wrap {
	    padding-bottom: 35px;
	    padding-top: 32px;
	}
	.has-inline-bg .gallery-icon-img {
	    height: 350px;
	}
	hr {
	    padding-top: 30px;
	    margin-bottom: 50px;
	}
	.dfp-full-img-module {
	    padding-top: 35px;
	    padding-bottom: 50px;
	}
	.dfp-tbl-wrap{
		padding-top: 40px;
		padding-bottom: 60px;
	}
	.dfp-grd-module-inr{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.dfp-grd-item{
		width: 50%;
	}
	.dfp-title-des-module-inr {
	    padding-top: 60px;
	}
	.dfp-pro-slider-module {
	    padding-bottom: 60px;
	}
	.innerpage-lft-img img{
		max-width: 60px;
		width: 100%;
	}
	.innerpage-lft-img {
	    top: 16%;
	}

	.dfpGrdSlider .dfp-grd-item{
		display: none;
	}

	.dfpGrdSlider .dfp-grd-item:first-child{
		display: block;
	}

	.dfpGrdSlider.slick-initialized .dfp-grd-item{
		display: block;
	}
	#news-details .dfp-social-media-module.btm-social-media {
	    padding-top: 20px;
	}
	.sdw-related-pro-grd-item:nth-child(2) {
	    margin-top: 40px;
	}
	
	
	

}

@media(max-width: 880px){
	.block-850{
		max-width: 100%;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}


@media(max-width: 767px){
	.dfp-promo-module {
	    padding-bottom: 0;
	}
	.dfp-promo-module-title{
		margin-bottom: 28px;
	}
	.dfp-one-img-plate-bx {
	    margin-bottom: 40px;
	    padding-top: 0;
	}
	.dfp-promo-module > strong{
		font-size: 24px;
		line-height: 30px;
	}
	.default-page-con .dft-grd-col-list-item ul {
	    width: 100%;
	}
	.dft-img-title-grd-col{
		width: 100%;
		float: none;
	}
	.default-page-con{
		padding-bottom: 40px;
	    padding-top: 30px;
	}
	.dfp-tbl-wrap{
		padding-top: 20px;
		padding-bottom: 50px;
		border-top: none;
	}
	.table-dsc {
	    overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	}
	.table-dsc::-webkit-scrollbar {
	  height: 6px;
	}
	.table-dsc::-webkit-scrollbar-thumb {
	  border-radius: 4px;
	}
	.table-dsc table {
	    width: 700px;
	}
	.default-page-con h2 {
	    margin-bottom: 20px;
	}
	.default-page-con p {
	    margin-bottom: 20px;
	}
	.default-page-con ol,
	.default-page-con ul,
	ol,ul{
		padding-left: 20px;

	}
	.default-page-con ol li, ol li{
		padding-bottom: 10px;
	}
	.dfp-des-lft,
	.dfp-des-rgt{
		padding-right: 20px;
	}
	.fl-fancy-module{
		height: 400px;
		margin-bottom: 35px;
	}
	
	.gallery-wrap{
		padding-top: 25px;
		padding-bottom: 15px;
	}
	.gallery-icon-img {
	    height: 240px;
	}
	.gallery {
	    margin-left: -8px;
	    margin-right: -8px;
	}
	.gallery-item {
	    padding: 0 8px;
	    margin-bottom: 16px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 170px;
	}
	.glry-col-2 .gallery-icon-img {
	    height: 180px;
	}
	
	
	
	.has-inline-bg .gallery-icon-img {
	    height: 250px;
	}
	.back-btn {
	    padding-bottom: 40px;
	    margin-bottom: 30px;
	    border-bottom: 1px solid #E4E4E4;
	}
	hr {
	    margin-top: 0;
	    padding-top: 20px;
	    margin-bottom: 40px;
	}
	
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
		padding-right: 20px;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding-left: 15px;
	}
	.fl-dft-lftimg-rgtdes{
		padding-bottom: 0;
	}
	.dfp-full-img-module {
	    padding-top: 15px;
	    padding-bottom: 40px;
	}
	.dfp-grd-module-inr{
		padding-top: 15px;
		padding-bottom: 20px;
		margin-left: 0;
		margin-right: 0;
	}
	.dfp-grd-item{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 15px;
	}
	.dfp-title-des-module-inr {
	    padding-top: 50px;
	}
	.dfp-pro-slider-module {
	    padding-bottom: 50px;
	}
	#news-details.default-page-con {
	    padding-top: 40px;
	}
	#news-details .dfp-one-img-plate-bx {
	    padding-top: 35px;
	    margin-bottom: 35px;
	}
	#news-details .dfp-social-media-module.btm-social-media {
	    padding-top: 10px;
	}

	.relatedProGrdSlider .sdw-related-pro-grd-item{
		display: none;
	}

	.relatedProGrdSlider .sdw-related-pro-grd-item:first-child{
		display: block;
	}

	.relatedProGrdSlider.slick-initialized .sdw-related-pro-grd-item{
		display: block;
	}
	.sdw-related-pro-grds{
		margin-left: 0;
		margin-right: 0;
	}
	.sdw-related-pro-grd-item{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 40px;
	}
	.sdw-related-pro-grd-item:nth-child(2) {
	    margin-top: 0;
	}
	.sdw-related-product-sec {
	    padding-bottom: 70px;
	}
	.dfp-title-des-module .title-desc-module{
		width: 100%;
	}
	.dfp-title-des-module .title-desc-module-rgt{
		max-width: 100%;
		padding-bottom: 60px;
		text-align: center;
	}
	.dfpGrdSlider .slsn-bsns-item{
		max-width: 350px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.sdw-related-product-sec .sec-entry-hdr-title.fl-h2{
		font-size: 36px;
	}

	
}




@media(max-width: 575px){
	.gallery {
	    margin-left: -8px;
	    margin-right: -8px;
	    padding-bottom: 10px;
	}
	.gallery-item {
	    padding: 0 8px;
	    margin-bottom: 15px;
	}
	.default-page-con ol,
	.default-page-con ul,
	ol,ul{
		padding-left: 0;

	}
	.default-page-con ul li, ul li {
	    padding: 5px 0 10px 22px;
	}
	.default-page-con ol li, ol li {
	    padding-bottom: 6px;
	}
	.default-page-con ol li::before, ol li::before{
		margin-right: 5px;
	}
	.default-page-con h1, 
	.default-page-con h2, 
	.default-page-con h3, 
	.default-page-con h4, 
	.default-page-con h5 {
	    margin-bottom: 20px;
	}
	.gallery-icon-img {
	    height: 200px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 120px;
	}
	.glry-col-2 .gallery-icon-img {
	    height: 130px;
	}
	
	.has-inline-bg .gallery-icon-img {
	    height: 192px;
	    display: block;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    min-height: 240px;
	}
	.fl-dft-lftimg-rgtdes-lft i svg{
		width: 50px!important;
		height: 50px!important;
	}
	.fl-dft-lftimg-rgtdes-lft span svg{
		width: 30px!important;
		height: 31px!important;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    min-height: 200px;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding-left: 15px;
	}
	.fl-dft-lftimg-rgtdes{
		display: block;
	}
	.fl-dft-lftimg-rgtdes-lft, 
	.fl-dft-lftimg-rgtdes-rgt{
		width: 100%;
		margin-bottom: 35px;
	}
	.fl-dft-lftimg-rgtdes-lft, 
	.fl-dft-lftimg-rgtdes-rgt{
		width: 100%;
		padding-left: 0;
		height: auto;
	}
	.fl-dft-lftimg-rgtdes-lft div, 
	.fl-dft-lftimg-rgtdes-rgt div{
		display: none;
	}
	.fl-dft-lftimg-rgtdes-lft img, 
	.fl-dft-lftimg-rgtdes-rgt img{
		display: block;
		width: 100%;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
		padding-right: 0;
	}
	.fl-dft-lftimg-rgtdes{
		padding-top: 25px;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes {
	    padding-top: 25px;
	}
	

}


@media(max-width: 479px){
	
	.gallery-icon-img {
	    height: 192px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 95px;
	}
	.glry-col-2 .gallery-icon-img {
	    height: 100px;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    min-height: 150px;
	}
	.dfp-one-img-plate-bx{
		margin-left: -20px;
		margin-right: -20px;
	}
	


	
}


