.footer-wrp{
	background: #0e0e0e;
	position: relative;
}
.ftr-ornament-icon{
	position: absolute;
	top: 0;
	margin-top: -290px;
	left: 0;
	z-index: 5;
}
.ftr-ornament-icon i{
	display: inline-block;
}
.footer-cntlr{
	padding-top: 95px;
}
.ftr-top{
	padding-bottom: 95px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.ftr-hedding{
	position: relative;
	margin-bottom: 42px;
}
.ftr-hedding:after{
	position: absolute;
	bottom: 12px;
	right: 0;
	content: '';
	height: 1px;
	width: 90px;
	background: #FFFFFF;
}
.ftr-title.fl-h2{
	color: #fff;
	font-size: 64px;
	margin-bottom: 0;
	line-height: 1;
	display: inline-block;
	position: relative;
	padding-right: 7px;
}
.ftr-title.fl-h2:after{
	position: absolute;
	content: "";
	height: 6px;
	width: 6px;
	background: #2dac53;
	right: 0;
	bottom: 12px;
}
.ftr-desc-cntlr{
	margin-left: auto;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.ftr-desc{
	width: 37%;
	padding-right: 10px;
}
.ftr-tel{
	margin-bottom: 30px;
}
.ftr-tel a,
.ftr-mail a{
	font-size: 24px;
	line-height: 1;
	display: inline-block;
	font-family: 'Aldo-SemiBold';
	color: #FFFFFF;
}

.ftr-tel a:hover,
.ftr-mail a:hover{
	color: #00A04D;
}
.ftr-socials{
	
	
}
.ftr-socials ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -17px;
}
.ftr-socials ul li{
	padding: 0 17px;
}
.ftr-socials ul li a,
.ftr-socials ul li a i{
	display: inline-block;
}
.ftr-socials ul li a:hover i svg{
	fill: #00A04D;
}


.ftr-btm{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 64px 0;
}
.ftr-copyright{
	padding-right: 10px;
}
.ftr-copyright p{
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1;
	color: #ACAFB0;
}
.ftr-developed-by{
	margin-left: auto;
}
.ftr-developed-by p{
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1;
	color: #ACAFB0;
}
.ftr-developed-by p a{
	display: inline-block;
	color: #ACAFB0;
}	
.ftr-developed-by p a:hover{
	color: #00A04D;
}


/*responsive*/
@media(max-width: 1699px){
	.ftr-ornament-icon i svg{
		max-width: 250px;
		display: inline-block;
	}
}
@media(max-width: 1499px){
	.ftr-ornament-icon{
		margin-top: -255px;
	}
	.ftr-ornament-icon i svg{
		max-width: 200px;
		display: inline-block;
	}
	.ftr-title.fl-h2{
		font-size: 58px;
	}
	.ftr-title.fl-h2:after{
		bottom: 10px;
	}
}
@media(max-width: 1199px){
	.ftr-title.fl-h2{
		font-size: 52px;
	}
	.ftr-title.fl-h2:after{
		bottom: 9px;
	}
	.ftr-btm{
		padding: 55px 0;
	}
	.ftr-top{
		padding-bottom: 73px;
	}
	.footer-cntlr{
		padding-top: 75px;
	}
}
@media(max-width: 991px){
	
}
@media(max-width: 767px){
	.ftr-ornament-icon{
		display: none;
	}
	.ftr-title.fl-h2{
		font-size: 48px;
	}
	.ftr-title.fl-h2:after{
		bottom: 8px;
	}
	.ftr-hedding:after{
		content: none;
		display: none;
	}
	.ftr-hedding{
		margin-bottom: 52px;
	}
	.ftr-desc-cntlr{
		display: block;
	}
	.ftr-desc{
		padding-right: 0;
		margin-bottom: 57px;
	}
	.ftr-btm{
		padding: 45px 0;
		display: block;
	}
	.ftr-copyright{
		padding-right: 0;
		margin-bottom: 25px;
	}
	.ftr-top{
		padding-bottom: 53px;
	}
	.footer-cntlr{
		padding-top: 62px;
		position: relative;
	}
	.footer-cntlr:after{
		position: absolute;
		top: 0;
		left: 0;
		width: 90px;
		height: 1px;
		background: #fff;
		content: "";
	}
}
@media(max-width: 575px){
	
}