.page-banner-cntlr{
	position: relative;
	text-align: center;
}
.page-banner{
	height: 440px;
	position: relative;
	overflow: hidden;
}
.page-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.page-bnr-des{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	z-index: 2;
}
.page-bnr-des-inr{
	color: #fff;
}
.page-bnr-title{
	padding-bottom: 110px;
	margin-bottom: 0;
}