body.home{
	background: #0e0e0e;
}
.hm-banner{
	position: relative;
}
.hm-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.hm-banner-overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	background-position: center center!important;
	background-size: cover!important;
	background-repeat: repeat!important;
}
.hm-bnr-down-scroll{
	position: absolute;
	z-index: 5;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);

}
.hm-bnr-down-scroll i{
	display: inline-block;
}
.hm-bnr-scroll-title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 13px;
	line-height: 1;
	text-transform: uppercase;
	color: #2DAB52;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	display: inline-block;
}
.hm-banner-cntlr{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1128px;
	position: relative;
	z-index: 3;
}
.hm-bnr-desc{
	max-width: 872px;
	width: 100%;
	margin: 0 auto;

}
.hm-bnr-title.fl-h1{
	margin-bottom: 25px;
	color: #fff;
	text-align: center;
}
.hm-bnr-desc p{
	font-size: 24px;
	text-align: center;
	color: #ACAFB0;
}






























/*responsive*/
@media(max-width: 1699px){
	.hm-banner-cntlr{
		height: 950px;
	}
}

@media(max-width: 1499px){
	.hm-banner-cntlr{
		height: 650px;
	}
}
@media(max-width: 1399px){
	
}
@media(max-width: 1299px){
	
}
@media(max-width: 1199px){
	
}
@media(max-width: 991px){
	
}
@media(max-width: 767px){
	
}
@media(max-width: 575px){
	
}
