.home-messege{
    padding: 20px 0;
    background: #2DAB52;
}

.home-messege-inr{
    text-align: center;
    color: #fff;
}
.home-messege-inr p{
    margin-bottom: 0;
    color:#fff;
    font-family: 'Work Sans', sans-serif;
    font-weight:500;
    font-size: 16px;
}
.home-messege-inr p strong{
    display: inline-block;
    vertical-align: baseline;
    margin-right: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight:700;
}



body.home{
	background: #0e0e0e;
}
.hm-banner{
	position: relative;
}
.hm-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.hm-banner-overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	background-position: center center!important;
	background-size: cover!important;
	background-repeat: repeat!important;
}
.hm-bnr-down-scroll{
	height: 157px;
	position: absolute;
	z-index: 8;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	cursor: pointer;

}
.hm-bnr-scroll-icon{
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.scroll-icon-Animate{
    animation: downAnimate 2s linear infinite;
}
@keyframes downAnimate{
	0%{
		margin-bottom: 0;
	}
	100%{
		margin-bottom: -8px;
	}
}
.hm-bnr-scroll-title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 13px;
	line-height: 1;
	text-transform: uppercase;
	color: #2DAB52;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	display: inline-block;
}
.hm-banner-cntlr{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1128px;
	position: relative;
	z-index: 3;
}
.hm-bnr-desc{
	max-width: 872px;
	width: 100%;
	margin: 0 auto;

}
.hm-bnr-title.fl-h1{
	margin-bottom: 25px;
	color: #fff;
	text-align: center;
}
.hm-bnr-desc p{
	font-size: 24px;
	text-align: center;
	color: #ACAFB0;
}

.business-element-sec-cntlr{
	position: relative;
	padding-top: 130px;
	overflow: hidden;
}
.business-element-man{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.round-icon{
	position: absolute;
	top: 60px;
	left: 0;
}
.round-icon i{
	display: inline-block;
}





.solutions-business-sec{
	padding-bottom: 250px;
	position: relative;
	z-index: 8;
}
.element-sec{
	position: relative;
	z-index: 8;
}

.sec-entry-hdr{
	max-width: 850px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.sec-entry-hdr-title.fl-h2{
	color: #fff;
	margin-bottom: 10px;
}
.sec-entry-hdr-desc{
	margin-bottom: 35px;
}
.sec-entry-hdr-desc > p{
	color: #ACAFB0;
}
.sec-entry-hdr-desc > p:last-of-type{
	margin-bottom: 0;
}

.solutions-business-grd-cntlr{
	position: relative;
	z-index: 3;
}
.slsn-bsns-grd{
	margin: 0 -12px;
}
.slsn-bsns-item-wrap{
	padding: 0 12px;
	width: 33.33%;
	float: left;
}
.slsn-bsns-item-cntlr{
	position: relative;
}
.slsn-bsns-item{
	min-height: 644px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(20, 20, 20, 0.75);
	padding: 50px 15px;
	
	z-index: 2;
}
.slsn-bsns-item-ditet-icon{
	position: absolute;
	left: -40px;
	bottom: -27px;
	z-index: -1;
}
.slsn-bsns-item-ditet-icon img:first-child{
	display: block;
}
.slsn-bsns-item-ditet-icon img:last-child{
	display: none;
}
.slsn-bsns-item-cntlr-1{
	margin-top: 140px;
}
.slsn-bsns-item-cntlr-2{
	margin-top: 70px;
}
.slsn-bsns-item-image{
	margin-bottom: 42px;
}
.slsn-bsns-item-image a{
	display: inline-block;
}
.slsn-bsns-item-desc-cntlr{

}
.slsn-bsns-item-title.fl-h4{
	color: #fff;
	text-align: center;
}
.slsn-bsns-item-title.fl-h4 a{
	display: inline-block;
	color: #fff;
}
.slsn-bsns-item-title.fl-h4 a:hover{
	color: #2DAB52;
}
.slsn-bsns-item-desc{

}
.slsn-bsns-item-desc p{
	font-size: 16px;
	text-align: center;
	color: #ACAFB0;
}
.slsn-bsns-item-desc p:last-of-type{
	margin-bottom: 0;
}
.element-sec{

}
.element-sec-cntlr{

}
.title-desc-module{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 82px;
}
.title-desc-module-lft{
	width: 50%;
	padding-right: 10px;
}
.title-desc-module.fl-h2{
	margin-bottom: 0;
	color: #fff;
}
.title-desc-module-rgt{
	width: 50%;
	margin-left: auto;
}
.title-desc-module-rgt p{
	color: #ACAFB0;
}
.title-desc-module-rgt p:last-of-type{
	margin-bottom: 0;
}


.footer-top-cntlr{
	padding-left: 100px;
	position: relative;
	z-index: 6;
}
.footer-top-gdr{
	margin: 0 -9px;
	padding-right: 170px;
	margin-right: 0;
}
.ftr-top-grid-item-wrap{
	float: left;
	padding: 0 9px;
	width: 33.33%;
}
.ftr-top-grid-item{
	position: relative;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ftr-top-grid-item-img{
	height: 632px;
	filter: grayscale(100%);
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ftr-top-grid-item:hover .ftr-top-grid-item-img{
	filter: grayscale(0);
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ftr-top-grid-item-btm{
	position: absolute;
	bottom: 40px;
	left: 60px;
	right: 60px;
}
.ftr-top-grid-item-title.fl-h4{
	color: #fff;
}
.ftr-top-grid-item-title.fl-h4 a{
	color: #fff;
	display: inline-block;
}
.ftr-top-grid-item-title.fl-h4 a:hover{
	color: #00A04D;
}
.ftr-top-grid-item-btm-desc{ 
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transform-origin: bottom;
	height: 0;
	display: none;
}
.ftr-top-grid-item-btm-desc > p{
	font-size: 16px;
	color: #ACAFB0;
}
.ftr-top-grid-item-btm-desc > p:last-of-type{
	margin-bottom: 0;
}
.ftr-top-grid-item:hover .ftr-top-grid-item-btm-desc{
	display: block;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	height: 100%;
}












.footer-top-gdr{
	padding-right: 0;
}
.footer-top-gdr .slick-list.draggable{
	padding-right: 170px;
}





.sdw-service-con-hover{
	transition: all 0.7s;
    -ms-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: bottom;
    opacity: 0;
}
.ftr-top-grid-item:hover .sdw-service-con{
	opacity: 0;
}
.ftr-top-grid-item:hover .sdw-service-con-hover{
	transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;

}



/*responsive*/
@media(max-width: 1699px){
	.sec-entry-hdr{
		max-width: 810px;
	}
	.hm-banner-cntlr{
		height: 950px;
	}
}

@media(max-width: 1499px){
	.hm-banner-cntlr{
		height: 678px;
	}
	.hm-bnr-desc p{
		font-size: 22px;
	}
	.round-icon i svg{
		max-width: 253px;
		display: inline-block;
		height: auto;
	}
	.sec-entry-hdr-title.fl-h2,
	.title-desc-module.fl-h2{
		font-size: 48px;
	}
	.slsn-bsns-item-desc p{
		font-size: 15px;
	}
	.solutions-business-sec{
		padding-bottom: 200px;
	}
	.ftr-top-grid-item-btm-desc > p{
		font-size: 15px;
	}
	.footer-top-cntlr{
		padding-left: 50px;
	}
	.footer-top-gdr .slick-list.draggable{
		padding-right: 100px;
	}
	.ftr-top-grid-item-btm{
		left: 40px;
		right: 40px;
	}
	.ftr-top-grid-item-img{
		height: 550px;
	}
}
@media(max-width: 1399px){
	
}
@media(max-width: 1299px){
	
}
@media(max-width: 1199px){
	.hm-bnr-desc p{
		font-size: 20px;
	}
	.round-icon i svg{
		max-width: 230px;
	}
	.sec-entry-hdr-title.fl-h2{
		margin-bottom: 15px;
	}
	.sec-entry-hdr-title.fl-h2,
	.title-desc-module.fl-h2{
		font-size: 42px;
	}
	.solutions-business-sec{
		padding-bottom: 150px;
	}
	.title-desc-module{
		margin-bottom: 60px;
	}
	
}
@media(max-width: 991px){
	.sec-entry-hdr-title.fl-h2,
	.title-desc-module.fl-h2{
		font-size: 36px;
	}
	.slsn-bsns-item{
		min-height: 570px;
	}
	.slsn-bsns-grd{
		margin: 0 -8px;
	}
	.slsn-bsns-item-wrap{
		padding-left: 8px;
		padding-right: 8px;
	}
	.title-desc-module{
		margin-bottom: 50px;
	}
	.business-element-man img{
		max-width: 401px;
	}
	.ftr-top-grid-item-btm{
		left: 20px;
		right: 20px;
	}
	.ftr-top-grid-item-img{
		height: 420px;
	}
	
}
@media(max-width: 767px){
	.hm-banner-cntlr{
		height: 808px;
	}
	.hm-bnr-title.fl-h1{
		line-height: 1.2;
		margin-bottom: 30px;
	}
	.hm-bnr-desc p{
		font-size: 18px;
	}
	.round-icon i svg{
		max-width: 203px;
	}
	.business-element-sec-cntlr{
		padding-top: 225px;
		margin-top: -95px;
	}
	.round-icon{
		top: 0;
		z-index: 6;
	}
	.business-element-man{
		top: 0;
		z-index: 6;
	}
	.business-element-man img{
		max-width: 301px;
	}
	.sec-entry-hdr-desc{
		margin-bottom: 40px;
	}
	.sec-entry-hdr-title.fl-h2,
	.title-desc-module.fl-h2{
		margin-bottom: 22px;
		font-size: 30px;
	}
	.slsnBsnsSlider{
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
	}
	.slsnBsnsSlider.slick-dotted.slick-slider{
		margin-bottom: 0;
	}
	.slsnBsnsSlider .slick-dots{
		margin-top: 20px;
	}
	.slsn-bsns-item{
		min-height: 520px;
	}
	.slsn-bsns-item-wrap{
		display: none;
	}
	.slsn-bsns-item-wrap:first-of-type{
		display: block;
	}
	.slsnBsnsSlider.slick-initialized .slsn-bsns-item-wrap{
		display: block;
	}
	.slsn-bsns-item-cntlr-1,
	.slsn-bsns-item-cntlr-2{
		margin-top: 0;
	}
	.slsn-bsns-item{
		padding-left: 20px;
		padding-right: 20px;
	}
	.slsn-bsns-item-desc p{
		font-size: 14px;
	}
	.slsn-bsns-item-ditet-icon{
		bottom: 40px;
		left: -10px;
		z-index: 2;
	}
	.solutions-business-sec{
		padding-bottom: 100px;
	}
	.slsn-bsns-item-ditet-icon img:first-child{
		display: none;
	}
	.slsn-bsns-item-ditet-icon img:last-child{
		display: block;
	}
	.title-desc-module-lft{
		width: 100%;
		text-align: center;
		padding-right: 0;
	}
	.title-desc-module.fl-h2{
		margin-bottom: 20px;
		text-align: left;
		display: block;
	}
	.title-desc-module.fl-h2 br{
		display: none!important;
	}
	.title-desc-module-rgt{
		width: 100%;
	}
	.title-desc-module{
		margin-bottom: 0;
		text-align: left;
		width: 800px;
		
	}
	.title-desc-module-rgt{
		max-width: 400px;
		width: 100%;
		margin-left: initial;
	}
	.element-sec-cntlr{
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		padding-bottom: 27px;
		margin-bottom: 30px;
	}
	.element-sec-cntlr::-webkit-scrollbar {
		height: 4px;
	}
	.element-sec-cntlr::-webkit-scrollbar-thumb {
		background: #2cab52;
		border-radius: 5px;
	}

	.footer-top-cntlr{
		padding-left: 20px;
		margin-bottom: 65px;
	}
	.ftr-top-grid-item-img{
		height: 351px;
		margin-bottom: 20px;
	}
	.ftr-top-grid-item-btm{
		position: static;
	}
	
	.ftr-top-grid-item-title.fl-h4{
		margin-bottom: 12px;
	}
	.ftr-top-grid-item-btm-desc{
		display: block;
		height: 100%;
	}
	.ftr-top-grid-item-btm-desc > p{
		font-size: 14px;
	}
	.ftr-top-grid-item{
		padding-bottom: 50px;
	}
	.elementGridSlider .slick-prev, .elementGridSlider .slick-next{
		position: absolute;
		bottom: 0!important;

		top: initial;
		display: block;
		-webkit-transform: initial;
		-ms-transform: initial;
		transform: initial;
	}
	.elementGridSlider{
		position: relative;
		margin: 0;
	}
	.elementGridSlider .slick-prev{
		left: 8px!important;
	}
	.elementGridSlider .slick-next{
		right: 20px!important;
	}

}
@media(max-width: 575px){
	.footer-top-gdr .slick-list.draggable {
		padding-right: 60px;
	}
}
