.page-banner-cntlr{
	position: relative;
	text-align: center;
}
.page-banner{
	height: 440px;
	position: relative;
	overflow: hidden;
}
.bnr-bg-overly{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(14, 14, 14, 0.53);
	z-index: 2;
}
.page-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.page-bnr-des{
	position: relative;
	padding-top: 232px;
	z-index: 3;
}
.has-post-date .page-bnr-des{
	padding-top: 182px;
}
.page-bnr-des-inr{
	color: #fff;
	position: relative;
}
.page-bnr-title{
	padding-bottom: 30px;
	margin-bottom: 0;
	color: #fff;
}

.page-bnr-title-ctlr{
	max-width: 830px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.has-post-date .page-bnr-title-ctlr{
	padding-left: 110px;
	position: relative;
}
.has-post-date .page-bnr-post-date{
	position: absolute;
	left: 0;
	top: 0;
	text-align: left;
}

.page-bnr-post-date i{
	display: inline-block;
	vertical-align: baseline;
}

.sdw-back-btn-ctlr{
	position: absolute;
	left: 0;
	bottom: -70px;
}
.sdw-back-btn-ctlr a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 13px;
	line-height: 1;
	text-transform: uppercase;
	color: #ACAFB0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	padding-left: 110px;
	position: relative;
}
.sdw-back-btn-ctlr a i{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	margin-top: -1.5px;
}
.sdw-back-btn-ctlr a:hover{
	color: #2DAB52;
}
/*.sdw-back-btn-ctlr a:hover i{
	margin-left: -5px;
}*/
.sdw-back-btn-ctlr a:hover svg{
	fill: #2DAB52;
}

.has-post-date .page-bnr-title{
	text-align: left;
}

/*.back-btn-icon{
	opacity: 1;
}
.back-btn-icon-hover{
	opacity: 0;
}
.sdw-back-btn-ctlr a:hover .back-btn-icon-hover{
	opacity: 1;
}
.sdw-back-btn-ctlr a:hover .back-btn-icon{
	opacity: 0;
}*/


/*responsive*/

@media(max-width: 1699px){
	.page-banner{
		height: 400px;
	}
	.page-bnr-des {
	    padding-top: 225px;
	}
	.has-post-date .page-banner{
		height: 440px;
	}
	.has-post-date .page-bnr-title-ctlr {
	    padding-left: 100px;
	}
	.sdw-back-btn-ctlr {
	    bottom: -85px;
	}
}
@media(max-width: 1399px){
	.page-banner{
		height: 370px;
	}
	.page-bnr-des {
	    padding-top: 220px;
	}
	.has-post-date .page-bnr-title-ctlr {
	    padding-left: 90px;
	}
}
@media(max-width: 1199px){
	.page-banner{
		height: 320px;
	}
	.page-bnr-des {
	    padding-top: 200px;
	}
	.sdw-back-btn-ctlr {
	    bottom: -100px;
	}
}
@media(max-width: 991px){
	.page-banner{
		height: 280px;
	}
	.page-bnr-des {
	    padding-top: 170px;
	}
	.has-post-date .page-bnr-title-ctlr {
	    padding-left: 80px;
	}
	.sdw-back-btn-ctlr{
		bottom: -105px;
	}
}
@media(max-width: 767px){
	.page-banner{
		height: 220px;
	}
	.page-bnr-des {
	    padding-top: 125px;
	}
	.has-post-date .page-banner{
		height: 420px;
	}
	.has-post-date .page-bnr-title {
	    padding-bottom: 130px;
	    font-size: 36px;
	}
	.has-post-date .page-bnr-title-ctlr {
	    padding-left: 70px;
	}
	.page-bnr-title-ctlr{
		max-width: 100%;
		width: 100%;
	}
	.sdw-back-btn-ctlr {
	    bottom: -25px;
	}
	.has-post-date .page-bnr-des {
	    padding-top: 170px;
	}
}
@media(max-width: 479px){
	.sdw-back-btn-ctlr {
	    bottom: 15px;
	}
}
@media(max-width: 359px){
	.sdw-back-btn-ctlr {
	    bottom: 50px;
	}
}