.news-overview-grid-des {
    margin-top: 53px;
}
.news-overview-des-rgt {
    padding-left: 110px;
    position: relative;
}

.news-overview-des-lft {
    position: absolute;
    left: 0;
    top: 0;
}
.news-overview-grid-items-cntlr {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.news-overview-grid-item {
    width: 50%;
    padding: 0 12px;
}
.news-overview-des-rgt h4, 
.news-overview-des-lft h4{
    margin-bottom: 17px;
}
.news-overview-des-lft h4{
    color: #2DAB52;
}
.news-overview-des-lft i{
    display: inline-block;
}
.news-overview-des-rgt p{
    margin-bottom: 30px;
}
.news-overview-grid-item:nth-child(2n+2){
    margin-top: 120px;
}
.fl-read-more-btn{
    display: inline-block;
}
.fl-read-more-btn span{
    display: inline-block;
    vertical-align: baseline;
    font-size: 13px;
    font-weight: 700;
    font-family: Montserrat;
    text-transform: uppercase;
    line-height: 16px;
}