.news-overview-grid-des {
    margin-top: 53px;
}
.news-overview-des-inner {
    padding-left: 110px;
    position: relative;
    min-height: 160px;
}

.nod-post-date {
    position: absolute;
    left: 0;
    top: 0;
}
.news-overview-grid-sec-cntlr ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.news-overview-grid-sec-cntlr ul li{
    width: 50%;
    padding: 0 12px;
    padding-bottom: 97px;
}
.news-overview-des-inner h2{
    margin-bottom: 17px;
}
.news-overview-des-inner h2 a{
    color: #565B5E;
}
.news-overview-des-inner h2 a:hover{
    color: #2DAB52;
}
strong.post-date {
    font-size: 36px;
    line-height: 1;
    display: block;
    margin-bottom: 17px;
    font-weight: 600;
    font-family: 'Aldo-SemiBold';
    color: #2DAB52;
}
.nod-post-date i{
    display: inline-block;
}
.news-overview-des-inner p{
    margin-bottom: 30px;
}
.news-overview-grid-sec-cntlr ul li:nth-child(2){
    margin-top: 120px;
}

.sdw-grid-btn a:hover{
    letter-spacing: 1px;
}
.news-overview-grids-sec{
    padding-top: 112px;
    padding-bottom: 43px;
    position: relative;
}
.news-overview-grid-img-cntlr{
    position: relative;
    overflow: hidden;
}
.news-overview-grid-item:hover .news-overview-grid-img-cntlr img{
    transform: scale(1.1);
}
.news-overview-grid-img-cntlr div{
    height: 100%;
    width: 100%;
    display: none;
}
.right-dots {
    position: absolute;
    right: 0;
    top: 22%;
    z-index: 1;
}
.left-circle {
    position: absolute;
    left: 0;
    top: 42%;
    z-index: 1;
}
.news-overview-grid-sec-cntlr {
    position: relative;
    z-index: 9;
}




@media (max-width: 1699px){
    .news-overview-grids-sec{
        padding-top: 100px;
        padding-bottom: 38px;
    }
    .news-overview-grid-sec-cntlr ul{
        margin: 0 -11px;
    }
    .news-overview-grid-sec-cntlr ul li{
        padding: 0 11px;
        padding-bottom: 90px;
    }
    .left-circle img{
        max-width: 200px;
        width: 100%;
    }
    .right-dots img{
        max-width: 100px;
        width: 100%;
    }
    .news-overview-grid-des{
        margin-top: 50px;
    }
    .news-overview-des-inner p{
        margin-bottom: 27px;
    }
    strong.post-date{
        font-size: 35px;
    }
    .news-overview-grid-sec-cntlr ul li:nth-child(2){
        margin-top: 110px;
    }

}
@media (max-width: 1499px){
    .news-overview-grids-sec{
        padding-top: 90px;
        padding-bottom: 35px;
    }
    .news-overview-grid-des{
        margin-top: 45px;
    }
    .news-overview-des-inner p{
        margin-bottom: 23px;
    }
    .news-overview-grid-sec-cntlr ul{
        margin: 0 -10px;
    }
    .news-overview-grid-sec-cntlr ul li{
        padding: 0 10px;
        padding-bottom: 80px;
    }
    .left-circle img{
        max-width: 150px;
        width: 100%;
    }
    .right-dots img{
        max-width: 90px;
        width: 100%;
    }
    strong.post-date{
        font-size: 34px;
    }
    .news-overview-grid-sec-cntlr ul li:nth-child(2){
        margin-top: 100px;
    }
}
@media (max-width: 1399px){
    .news-overview-grids-sec{
        padding-top: 80px;
        padding-bottom: 30px;
    }
    .news-overview-grid-sec-cntlr ul li{
        padding-bottom: 70px;
    }
    .news-overview-grid-des{
        margin-top: 40px;
    }
    .news-overview-des-inner p{
        margin-bottom: 20px;
    }
    .news-overview-des-inner h2{
        margin-bottom: 15px;
    }
    .left-circle img{
        max-width: 115px;
        width: 100%;
    }
    .right-dots img {
        max-width: 80px;
        width: 100%;
    }
    strong.post-date{
        font-size: 33px;
        margin-bottom: 15px;
    }
    .news-overview-grid-sec-cntlr ul li:nth-child(2){
        margin-top: 90px;
    }

    
}
@media (max-width: 1299px){
    .news-overview-grid-sec-cntlr ul li{
        padding-bottom: 60px;
    }
    .news-overview-grids-sec{
        padding-top: 70px;
        padding-bottom: 25px;
    }
    .left-circle img{
        max-width: 65px;
        width: 100%;
    }
    .right-dots img{
        max-width: 60px;
        width: 100%;
    }
    .news-overview-grid-des{
        margin-top: 35px;
    }
    strong.post-date{
        font-size: 33px;
    }
    .news-overview-des-inner p{
        margin-bottom: 18px;
    }
    .news-overview-des-inner h2{
        margin-bottom: 14px;
    }
    .news-overview-grid-sec-cntlr ul li:nth-child(2){
        margin-top: 80px;
    }
    .news-overview-des-inner{
        padding-left: 104px;
    }

}
@media (max-width: 1199px){
    .news-overview-grids-sec{
        padding-top: 65px;
        padding-bottom: 20px;
    }
    .news-overview-grid-sec-cntlr ul li:nth-child(2){
        margin-top: 70px;
    }
    .news-overview-grid-des{
        margin-top: 30px;
    }
    .news-overview-des-inner h2{
        margin-bottom: 13px;
    }
    strong.post-date{
        margin-bottom: 13px;
    }
    .news-overview-des-inner p{
        margin-bottom: 15px;
    }
    .news-overview-des-inner{
        padding-left: 99px;
    }
    .news-overview-grid-sec-cntlr ul li{
        padding-bottom: 50px;
    }
    .right-dots img{
        max-width: 50px;
        width: 100%;
    }
    
}
@media (max-width: 991px){
    
    strong.post-date{
        font-size: 31px;
    }
    .news-overview-grids-sec{
        padding-top: 60px;
        padding-bottom: 15px;
    }
    .news-overview-grid-sec-cntlr ul li:nth-child(2){
        margin-top: 60px;
    }
    .news-overview-grid-des{
        margin-top: 25px;
    }
    .news-overview-des-inner{
        padding-left: 80px;
    }
    .news-overview-des-inner h2 a br{
        display: none;
    }
    .news-overview-des-inner h2 {
        margin-bottom: 12px;
    }
    .news-overview-des-inner p{
        margin-bottom: 13px;
    }
    .news-overview-grid-sec-cntlr ul li{
        padding-bottom: 40px;
    }
}
@media (max-width: 767px){
    strong.post-date{
        font-size: 30px;
    }
    .news-overview-grids-sec{
        padding-top: 50px;
        padding-bottom: 13px;
    }
    .news-overview-grid-sec-cntlr ul li:nth-child(2){
        margin-top: 50px;
    }
    .news-overview-grid-des{
        margin-top: 20px;
    }
    .news-overview-des-inner{
        padding-left: 70px;
    }
    .news-overview-des-inner p {
        margin-bottom: 10px;
    }
    .news-overview-grid-sec-cntlr ul li{
        padding-bottom: 30px;
    }
    
}
@media (max-width: 639px){
    .news-overview-grid-sec-cntlr ul li{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .news-overview-grid-item{
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
    }
    .news-overview-grid-sec-cntlr ul{
        margin: 0;
    }
    
}
@media (max-width: 575px){
    
    
}
@media (max-width: 369px){
    
    
}
