.news-overview-grid-des {
    margin-top: 53px;
}
.news-overview-des-inner {
    padding-left: 110px;
    position: relative;
    min-height: 160px;
}

.news-overview-des-post-date {
    position: absolute;
    left: 0;
    top: 0;
}
.news-overview-grid-sec-cntlr ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.news-overview-grid-sec-cntlr ul li{
    width: 50%;
    padding: 0 12px;
    padding-bottom: 97px;
}
.news-overview-des-inner h2{
    margin-bottom: 17px;
}
.news-overview-des-inner h2 a{
    color: #565B5E;
}
.news-overview-des-inner h2 a:hover{
    color: #2DAB52;
}
strong.nov-post-date {
    font-size: 36px;
    line-height: 1;
    display: block;
    margin-bottom: 17px;
    font-weight: 600;
    font-family: 'Aldo-SemiBold';
    color: #2DAB52;
}
.news-overview-des-post-date i{
    display: inline-block;
}
.news-overview-des-inner p{
    margin-bottom: 30px;
}
.news-overview-grid-sec-cntlr ul li:nth-child(2){
    margin-top: 120px;
}

.sdw-grid-btn a:hover{
    letter-spacing: 1px;
}
.news-overview-grids-sec{
    padding-top: 112px;
    padding-bottom: 140px;
}
.news-overview-grid-img-cntlr{
    position: relative;
    overflow: hidden;
}
.news-overview-grid-item-inner:hover .news-overview-grid-img-cntlr img{
    transform: scale(1.1);
}
.news-overview-grid-img-cntlr div{
    height: 100%;
    width: 100%;
    display: none;
}