.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 40px!important;
	height: 4px!important;
	position: static;
	background: rgba(70, 70, 70, 0.1)!important;
	margin: 0 10px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #2DAB52!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 40px;
	height: 4px;
}

.slick-dots li:only-child{ display: none; }


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}